0x00-shell_basics/__ls__
0x02-shell_redirections/'Best School'$)
0x02-shell_redirections/*/'"Best School"/'/*$/?/*/*/*/*/*:)
0x02-shell_redirections/*/'"Best School"/'/*$/?/*/*/*/*/*:)
0x00-shell_basics/__ls__
